/* General */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0;
}

.loading {
  display: flex;
  align-items: center;
  width: auto;
  height: 80vh;
  align-content: center;
  background: white;
  justify-content: center;
}

.router {
  width: 100%;
  background-color: #434344;
}

/* Header */

.App-header {
  background-color: #282c34;
  min-height: 15vh;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: space-between;
}

.logInButton {
  border: 2px solid black;
  min-height: 1em;
  min-width: 1em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: #646466;
  color: white;
  font-size: 0.8em;
  cursor: pointer;
  grid-row: 1;
  grid-column: 2;
  margin-left: auto;
}

.logInButton:hover {
  color: #25c3eb;
  transition: none;
}

.App-title {
  grid-row: span 2;
  font-size: 1.4em;
  cursor: pointer;
}
.App-title:hover {
  color: #25c3eb;
  transition: none;
}

.welcomeMessage {
  grid-row: 2;
  grid-column: 2;
  font-size: 0.6em;
  margin: 0;
  margin-left: auto;
  display: flex;
}
.userLinkHeader {
  margin-left: 2px;
  color: white;
  padding-right: 2px;
}
.userLinkHeader:hover {
  color: #25c3eb;
  transition: none;
}

/* Main */

.App-main {
  background-color: #434344;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

/* Footer */

.App-footer {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Footerlink {
  color: #646466;
  text-decoration: none;
  font-size: 0.7em;
}

/* Page containers */

.homePageContainer {
  color: black;
  font-size: 0.5em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  background: #434344;
}

.topicPageContainer {
  color: black;
  font-size: 0.5em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  background: #646466;
}

.articlePageContainer {
  color: black;
  font-size: 0.5em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  background: #646466;
}

/* Query boxes */

.ArticleQuery {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 1.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #1c1e24;
  width: 100%;
}
.AQSelect {
  display: flex;
  align-items: center;
  width: 8em;
  font-size: 1em;
  margin-right: 5px;
  margin-left: 5px;
}

.commentQuery {
  display: flex;
  justify-content: space-around;
  background-color: #1c1e24;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 1.5em;
}

.commentSelect {
  display: flex;
  align-items: center;
  width: 8em;
  font-size: 0.5em;
  margin-right: 5px;
  margin-left: 5px;
}

/* Log in to comment message */

.logInSubtitle {
  background: #282c34;
  color: white;
  text-decoration: none;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.logInSubtitle:hover {
  color: #25c3eb;
  transition: none;
}

/* Articles/Home page */

.articleCards {
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  background-color: #434344;
}

.IndivArticleCard {
  display: grid;
  grid-template-columns: 40% 40% 20%;
  grid-auto-rows: 30px auto 30px 25px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 2px;
  list-style-type: none;
  background: #cfcfcf;
  border: 2px solid #282c34;
  border-radius: 5px;
  font-size: 1.5em;
  align-items: center;
}

/* Topic page */

.topicBox {
  grid-row: 4;
  grid-column: 1;
  margin: 0;
  padding: 5px;
  text-transform: capitalize;
}

.topicLink {
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.topicLink:hover {
  color: #146579;
  transition: none;
}

/* Comments */

.commentBox {
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}

.commentBox:hover {
  text-shadow: 0px 0px 20px #0a358a;
  transition: none;
}

/* Up/Down votes */

.downvoteButton {
  grid-column: 3;
  grid-row: 4;
  margin: 0;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  background: none;
  border: none;
  text-align: center;
  font-size: 1em;
}

.downvoteButton:hover {
  text-shadow: 0px 0px 20px #0a358a;
  transition: none;
}

.upvoteButton {
  grid-column: 3;
  grid-row: 1;
  margin: 0;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  background: none;
  border: none;
  text-align: center;
  font-size: 1em;
}

.upvoteButton:hover {
  text-shadow: 0px 0px 20px #0a358a;
  transition: none;
}

/* Article card elements */

.userBox {
  grid-column: 1/1;
  margin: 0;
  padding: 5px;
  cursor: pointer;
  font-size: 1.1em;
  text-decoration: underline;
  color: #282c34;
}

.userBox:hover {
  color: #146579;
  transition: none;
}

.dateBox {
  grid-row: 1;
  grid-column: 2;
  margin: 0;
  padding: 5px;
  font-size: 0.8em;
  color: #282c34;
  text-align: center;
}

.titleBox {
  grid-row: span 2;
  grid-column: span 2;
  margin: 0;
  margin-left: 2.5px;
  margin-right: 2.5px;
  padding: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.1em;
  border: 1px solid #a09f9f;
  border-radius: 5px;
  background: #f1efef;
  text-decoration: none;
  color: black;
}

.titleBox:hover {
  color: #146579;
  transition: none;
}

.voteBox {
  grid-column: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  margin: 0;
  padding: 5px;
  text-align: center;
}

.commentBox {
  grid-row: 4;
  grid-column: 2;
  cursor: pointer;
  margin: 0;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 0.9em;
}

.topicBannerTitle {
  text-transform: capitalize;
  width: 100%;
  margin: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #434344;
  color: white;
}

/* Full Article elements */

.fullArticle {
  display: grid;
  grid-template-columns: 40% 35% 25%;
  grid-auto-rows: auto;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 2px;
  list-style-type: none;
  background: #cfcfcf;
  border: 2px solid #282c34;
  border-radius: 5px;
  font-size: 1em;
  align-items: center;
  color: black;
}

.aTitle {
  grid-column: span 3;
  grid-row: 1;
  text-align: center;
  font-weight: bold;
  margin: 0;
  padding: 10px;
  font-size: 1.1em;
}

.aAuthor {
  grid-column: span 2;
  grid-row: 2;
  font-size: 1em;
  margin: 0;
  padding-left: 10px;
  cursor: pointer;
  text-decoration: underline;
  color: #282c34;
}

.aAuthor:hover {
  color: #146579;
  transition: none;
}

.aDate {
  grid-column: span 2;
  grid-row: 3;
  font-size: 0.8em;
  margin: 0;
  padding-left: 10px;
}

.aTopic {
  grid-column: span 2;
  grid-row: 4;
  text-transform: capitalize;
  font-size: 0.8em;
  margin: 0;
  padding-left: 10px;
}

.aVotes {
  grid-column: 3;
  grid-row: 3;
  text-align: center;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  margin: 0;
  font-size: 0.9em;
}

.aContent {
  grid-column: span 3;
  grid-row: 5;
  font-size: 0.8em;
  padding: 5px;
  border: 1px solid #a09f9f;
  border-radius: 5px;
  background: #f1efef;
  text-decoration: none;
  color: black;
  margin-left: 5px;
  margin-right: 5px;
}

.fullArticle > .upvoteButton {
  grid-column: 3;
  grid-row: 2;
  margin: 0;
  font-size: 1em;
  padding: 0;
}

.fullArticle > .downvoteButton {
  grid-column: 3;
  grid-row: 4;
  margin: 0;
  font-size: 1em;
  padding: 0;
}

.ArticleAndCommentsContainer > .logInSubtitle {
  background: #282c34;
  color: white;
  text-decoration: none;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.ArticleAndCommentsContainer > .logInSubtitle:hover {
  color: #25c3eb;
  transition: none;
}

.inputCommentContainer {
  display: flex;

  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.inputCommentBox {
  margin: 5px;
  height: 10vh;
  width: 95%;
}

.commentSubmitButton {
  margin-left: 5px;
  margin-right: 5px;
}

.commentCards {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.IndivCommentCard {
  display: grid;
  grid-template-columns: 40% 30% 20% 10%;
  grid-template-rows: 30px auto auto;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 2px;
  list-style-type: none;
  background: #cfcfcf;
  border: 2px solid #282c34;
  border-radius: 5px;
  font-size: 1.5em;
  align-items: center;
}

.userCommentLink {
  cursor: pointer;
  text-decoration: underline;
  color: #282c34;
}

.userCommentLink:hover {
  color: #146579;
  transition: none;
}

.userCommentBox {
  grid-row: 1;
  grid-column: 1/3;
  font-size: 0.5em;
  color: #282c34;
  padding: 5px;
}

.deleteCommentButton {
  grid-row: 3;
  grid-column: 1/5;
  margin: 5px;
  margin-right: auto;
  margin-left: auto;
  padding: 2.5px;
  align-self: center;
  text-align: center;
}

.commentContent {
  grid-row: 2 span 2;
  grid-column: span 4;
  font-size: 0.5em;
  color: black;
  padding: 5px;
  border: 1px solid #a09f9f;
  border-radius: 5px;
  background: #f1efef;
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
}

.commentVotesContainer {
  grid-row: 1;
  grid-column: 4/5;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: right;
}

.IndivCommentCard > .commentVotesContainer > .upvoteButton {
  font-size: 0.6em;
}

.IndivCommentCard > .commentVotesContainer > .commentVotes {
  font-size: 0.5em;
  padding: 0;
  margin: 0;
  color: black;
  text-align: center;
}

.IndivCommentCard > .commentVotesContainer > .downvoteButton {
  font-size: 0.6em;
}

/* Log In Page */

.logInContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logInTitleMsg {
  font-size: large;
  text-align: center;
}

.userSelect {
  margin-right: 5px;
}

.submitLogin {
  margin-left: 5px;
}

/* User Page */
.userCardContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.userTitle {
  font-size: 1.5em;
  color: white;
}

.userImg {
  width: 40%;
}

.userArticleTitle {
  font-size: 1.2em;
  color: white;
}

/* Error Page */

.errorPageMsg {
  padding: 5px;
  margin: 0;
  font-size: 1em;
  text-align: center;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.errorMsg {
  padding: 5px;
}

.errorMsgContainer {
  color: white;
}
